# PYTHON

# PYTHON : (python is a simple, easy to learn,powerfull,high-level,object-oriented programming languages ,python is also interpreted scripting languages )

# Python is and always has been easy to learn and master. It is very beginner friendly and the syntax is extremely simple to read and follow through. This definitely makes us all happy and whatâ€™s amazing is that python has millions of happy learners across the globe!

# Python Basics

In [42]:
# Example, division
print(5 / 8)

0.625

In [43]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

10
0

In [44]:
# Multiplication and division
print(3 * 5)
print(10 / 2)

15
5.0

In [45]:
# Exponentiation
print(4 ** 2)

16

In [46]:
# Modulo
print(18 % 7)

4

In [47]:
# How much is your $100 worth after 7 years?
print(100 * 1.1 ** 7)

194.87171000000012

In [49]:
# Several variables to experiment with
savings = 100
factor = 1.1
desc = "compound interest"

In [50]:
print(type(savings))
print(type(factor))
print(type(desc))

<class 'int'>
<class 'float'>
<class 'str'>

In [51]:
# Assign product of factor and savings to year1
year1 = savings * factor

In [52]:
# Print the type of year1
print(type(year1))

<class 'float'>

In [53]:
# Assign sum of desc and desc to doubledesc
doubledesc = desc +" "+ desc

# Print out doubledesc
print(doubledesc)

compound interest compound interest

# Variables

In [54]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

In [55]:
# type func
# Print out type of var1
print(type(var1))
# Print out type of var2
print(type(var2))

<class 'list'>
<class 'bool'>

In [56]:
# func to convert
# Convert var2 to an integer: out2
out2 = int(var2)
# Print out type of out2
print(type(out2))

<class 'int'>

In [1]:
# pythons data types

# String

In [2]:

# String are sequence of charecters which enclosed with single quote,double quotes.

In [3]:
my_string= "jay jagannath"
print(my_string)

jay jagannath

In [4]:
# finding indivisuals charecters
my_string[:]

'jay jagannath'

In [5]:
my_string[0:3]

'jay'

In [6]:
my_string[-2]

't'

In [7]:
# finding length of string
len(my_string)

13

In [8]:
# converted string into lower and upper case
my_string.lower()

'jay jagannath'

In [9]:
my_string.upper()

'JAY JAGANNATH'

In [10]:
new_string= 'i am manas kumar bej and i love lord jagannath'
print(new_string)

i am manas kumar bej and i love lord jagannath

In [11]:
# separate each words by using spliting methods
new_string.split()

['i', 'am', 'manas', 'kumar', 'bej', 'and', 'i', 'love', 'lord', 'jagannath']

In [12]:
# replace methods
s= 'i am manas '

In [13]:
s.replace('manas','milu')

'i am milu '

In [14]:
new_string

'i am manas kumar bej and i love lord jagannath'

In [15]:
# find substrings
new_string.find('kumar')

11

In [16]:
# find same out then use strip()
new_string.strip()

'i am manas kumar bej and i love lord jagannath'

# LIST

In [17]:
# list are ordered of sequence that can hold a variety object types
# list are use [] bracies and commas to separated the object
# list ate mutetable

In [18]:
list= [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [19]:
# finding indivisuals charecters
list[:]

[1, 2, 3, 4, 5]

In [20]:
list[0:3]

[1, 2, 3]

In [21]:
list[-3]

3

In [22]:
# adding the elements
list.append(100)
print(list)

[1, 2, 3, 4, 5, 100]

In [23]:
# remove the elements
list.pop(2)
print(list)

[1, 2, 4, 5, 100]

In [24]:
# insert the elements
list.insert(3,'manas')
print(list)

[1, 2, 4, 'manas', 5, 100]

In [25]:
# sorting the elements(in order to alphabetically)
list=['orange','guava','banana','watermelan','mangoes','apple']
list.sort()
print(list)

['apple', 'banana', 'guava', 'mangoes', 'orange', 'watermelan']

In [26]:
# concatenating and repeating the elements
list1=[10,20,30,40,50]
list2= [5,6,4,7,8]
list1+list2

[10, 20, 30, 40, 50, 5, 6, 4, 7, 8]

In [27]:
list1*2

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

# Dictoinary

In [28]:
#In Python, a Dictionary can be created by placing sequence of elements within curly {} braces, separated by â€˜commaâ€™.
#Dictionary in Python is an unordered collection of data values
# dictionary is mutables

In [29]:
dict= {'apple':50,'mangoes':70,'banana':40,'guava':80}
print(dict)

{'apple': 50, 'mangoes': 70, 'banana': 40, 'guava': 80}

In [30]:
dict.keys()

dict_keys(['apple', 'mangoes', 'banana', 'guava'])

In [31]:
dict.values()

dict_values([50, 70, 40, 80])

In [32]:
# adding the elements in dictionary
dict['watermelan']=20
print(dict)

{'apple': 50, 'mangoes': 70, 'banana': 40, 'guava': 80, 'watermelan': 20}

In [33]:
# changing the elements
dict['apple']=85
print(dict)

{'apple': 85, 'mangoes': 70, 'banana': 40, 'guava': 80, 'watermelan': 20}

In [34]:
# Remove the elements in dictionary
dict.pop('apple')

85

In [35]:
print(dict)

{'mangoes': 70, 'banana': 40, 'guava': 80, 'watermelan': 20}

In [36]:
dict1= {'india':1,'usa':2,'england':3}
print(dict1)

{'india': 1, 'usa': 2, 'england': 3}

In [37]:
dict.update(dict1)

In [38]:
print(dict)

{'mangoes': 70, 'banana': 40, 'guava': 80, 'watermelan': 20, 'india': 1, 'usa': 2, 'england': 3}

# Tuple

In [39]:
tuple= ('manas','india','jagannath',1,5,8)
print(tuple)

('manas', 'india', 'jagannath', 1, 5, 8)

In [40]:
type(tuple)

tuple

In [41]:
# finding the indivisual charecters
tuple[0:3]

('manas', 'india', 'jagannath')

In [42]:
tuple[:]

('manas', 'india', 'jagannath', 1, 5, 8)

In [43]:
# finding the length of tuple
len(tuple)

6

In [44]:
tuple1=(1,5,10,'apple','mangoes')
print(tuple1)

(1, 5, 10, 'apple', 'mangoes')

In [45]:
tuple+tuple1

('manas', 'india', 'jagannath', 1, 5, 8, 1, 5, 10, 'apple', 'mangoes')

In [46]:
# Repeating the tuple
tuple*5

('manas',
 'india',
 'jagannath',
 1,
 5,
 8,
 'manas',
 'india',
 'jagannath',
 1,
 5,
 8,
 'manas',
 'india',
 'jagannath',
 1,
 5,
 8,
 'manas',
 'india',
 'jagannath',
 1,
 5,
 8,
 'manas',
 'india',
 'jagannath',
 1,
 5,
 8)

In [47]:
len(tuple1)

5

In [48]:
tuple2=(1,2,3,4,5)

In [49]:
min(tuple2)

1

In [50]:
max(tuple2)

5

# set

In [51]:
set={1,'a',2,'b',3,'g'}
print(set)

{1, 2, 3, 'g', 'b', 'a'}

In [52]:
# updating the elements in sets
set.update([10,20,40])
print(set)

{1, 2, 3, 'g', 40, 10, 'b', 20, 'a'}

In [53]:
# Adding the elements
set.add('manas')
print(set)

{1, 2, 3, 'g', 40, 10, 'b', 20, 'manas', 'a'}

In [54]:
print(set)

{1, 2, 3, 'g', 40, 10, 'b', 20, 'manas', 'a'}

In [55]:
# Remove the elements
set.remove('g')
print(set)

{1, 2, 3, 40, 10, 'b', 20, 'manas', 'a'}

In [56]:
set1= {1,2,3,4,5}
set2= {4,5,6,7,8}

In [57]:
# Union of the set
# Difference of the set
# intersection of the sets

In [58]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
set1.difference(set2)

{1, 2, 3}

In [60]:
set1.intersection(set2)

{4, 5}

In [61]:
# subset of the set
set1.issubset(set2)

False

In [62]:
# superset of the set
set1.issuperset(set2)

False

# Pythons statements(if,elif,else)

In [ ]:
if True:
    print('my name is manas ')
else:
    print('i am not manas')

In [ ]:
my_names=False
if my_names:
    print('i am manas')
else:
    print('i am milu')

In [ ]:
a=10
b=20
c=30
if (a>b)& (a>c):
    print('a is greatest')
elif (b>a)&(b>c):
    print('b is greatet then a,b')
    print('b is gratest')
else:
    print('c is grater then a and b')
    print('c is greatest')

In [ ]:
# using variables
i_know_you= True
if i_know_you:
    print('How are you')
    print('hi manas')
elif i_know_you:
    print('i dont know')
    print('ohh,manas')
else:
    print('i am not manas')

In [ ]:
country_name= input('enter country name,startswith"I":')
if country_name.upper().startswith("I"):
    print("name of country is india")
    print("india is also called as bharat")
else:
    print('country_name does not startwith i')

In [3]:
weather= input('enter weather(sunny,ranny,winter):')
if weather.lower()=='sunny':
    print('wheater is sunny')
    print('stay at home')
elif weather.lower()=='winter':
    print('please wear winter cloth')
    print('please take your jacket')
elif weather.lower()=='ranny':
    print('please take umbrella')
    print('please take both umbrella and raincoat')
else:
    print(' i dont konw about the weather')

enter weather(sunny,ranny,winter):ranny
please take umbrella
please take both umbrella and raincoat

# casting

In [4]:
# casting
# string function converted into integer is called casting

In [5]:
x=10
y='5'
x+int(y)

15

In [8]:
student1=20
student2= '10.5'
student1+float(student2)

30.5

In [19]:

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print("First element of List :",areas[1])

# Print out last element from areas
print("Last element of List :",areas[-1])

# Print out the area of the living room
print("Fifth last element of List :",areas[-5])

First element of List : 11.25
Last element of List : 9.5
Fifth last element of List : 20.0

# Slicing

In [20]:
# Use slicing to create downstairs
downstairs = areas[0:5]
print('downstairs :', downstairs)

# Use slicing to create upstairs
upstairs = areas[6:10]
print('upstairs :', upstairs)

downstairs : ['hallway', 11.25, 'kitchen', 18.0, 'living room']
upstairs : ['bedroom', 10.75, 'bathroom', 9.5]

# Python Lopping

# while loop

In [1]:
i=0
while i<9:
    print("Number=",i)
    i+=1
    
print("Good morning")

Number= 0
Number= 1
Number= 2
Number= 3
Number= 4
Number= 5
Number= 6
Number= 7
Number= 8
Good morning

In [2]:
 count=0
while count<5:
        print("Number is=",count)
        count+=1

Number is= 0
Number is= 1
Number is= 2
Number is= 3
Number is= 4

In [3]:
# loop control statements
i=0
a="iloveidia"
while i<len(a):
    if a[i]=='i':
        i=i+1
        continue
    print("Number",a[i])
    i+=1

Number l
Number o
Number v
Number e
Number d
Number a

In [4]:
i=0
a="iammanaskumarbej"
while i<len(a):
    if a[i]=='m' or a[i]=='a':
        i+=1
        continue
    print(a[i])
    i+=1

i
n
s
k
u
r
b
e
j

In [5]:
# break the statement
i=0
a="iammanaskumarbej"
while i<len(a):
    if a[i]=="b": 
        break
        i+=1
    print(a[i])
    i+=1

i
a
m
m
a
n
a
s
k
u
m
a
r

In [6]:
# pass the sentnces
i=0
a="ilovemyindia"
while i<len(a):
    if a[i]=='o':
        i+=1
        pass
    print(a[i])
    i+=1

i
l
v
e
m
y
i
n
d
i
a

In [7]:
# Python program to demonstrate 
# while-else loop 
i = 0 
while i < 4: 
    i += 1
    print(i)  
else: # Executed because no break in for  
    print("No Break\n")  
  
i = 0 
while i < 4:  
    i += 1
    print(i)  
    break
else: # Not executed as there is a break  
    print("No Break")

1
2
3
4
No Break

1

# For loop

In [8]:
# list
print("list")
l=['how','are','you']
for i in l:
    print(i)

list
how
are
you

In [9]:
# Tuple
print('Tuple')
l=('how','are','you')
for i in l:
    print(i)

Tuple
how
are
you

In [10]:
# string
l= "hello"
for i in l:
    print(i)

h
e
l
l
o

In [11]:
# Dictionary
d=dict()
d['manas']=255
d['milu']=500
for i in d:
    print(i,d[i])

manas 255
milu 500

In [12]:
# Contiue for loop
for letter in "manas":
    if letter =='a':
        continue
    print("Name",letter)

Name m
Name n
Name s

In [13]:
# Break for loop
for letter in 'iloveindia':
    if letter=='n':
        break
    print(letter)

i
l
o
v
e
i

In [14]:
# pass for loop
for letter in 'iloveindiat':
    pass
print(letter)

t

In [15]:
# Range for loop
list =[1,2,3,4]
for i in range(len(list)):
    print(list[i],end="")
print()

1234

In [16]:
#  first 100 number sum
sum=0
for i in range(1,100):
    sum +=i
print("First 100 number is=",sum)

First 100 number is= 4950

# Nested Loops: Python programming language allows to use one loop inside another loop. Following section shows few examples to illustrate the concept.

# A final note on loop nesting is that we can put any type of loop inside of any other type of loop. For example a for loop can be inside a while loop or vice versa.

In [22]:
# Python program to illustrate 
# nested for loops in Python
from __future__ import print_function
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [28]:
#Continue Statement:It returns the control to the beginning of the loop.
# Prints all letters except 'e' and 'n'
for letter in 'ilovemyindia': 
    if letter == 'e' or letter == 'n':
         continue
    print( 'Current Letter :', letter)
    var = 10

Current Letter : i
Current Letter : l
Current Letter : o
Current Letter : v
Current Letter : m
Current Letter : y
Current Letter : i
Current Letter : d
Current Letter : i
Current Letter : a

In [31]:
#Break Statement:It brings control out of the loop
 # break the loop as soon it sees 'e' 
    # or 'n'
for letter in 'ilovemyindia':
    if letter == 'e' or letter == 'n':
         break
    print('Current Letter',letter)

Current Letter i
Current Letter l
Current Letter o
Current Letter v

# Pass Statement:We use pass statement to write empty loops. Pass is also used for empty control statement, function and classes.

In [33]:
# An empty loop
for letter in 'ilovemyindia':
    pass
print ('Last Letter :', letter)

Last Letter : a

In [34]:
#How for loop in Python works internally

# Before proceeding to this section, you should have a prior understanding of Python Iterators.
# Firstly, lets see how a simple for loop looks like.
# A simple for loop example
 
fruits = ["apple", "orange", "kiwi"]
 
for fruit in fruits:
 
 print(fruit)

apple
orange
kiwi

In [37]:
fruits = ["apple", "orange", "kiwi"]
 
# Creating an iterator object 
# from that iterable i.e fruits
iter_obj = iter(fruits)
 
# Infinite while loop
while True:
    
    try:
       
      # getting the next item
    
        fruit = next(iter_obj)
        
        print(fruit)
    except StopIteration:
        
      # if StopIteration is raised, 
      # break from loop
        break

apple
orange
kiwi